body {
    background-color: #ffffff;
    font-family: "Archivo Black", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
/* Menu bar styles */
.menu {
    background-color: #FF6600;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    color: black;
}

a{
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #ffffff;
}

.container {
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    height: auto;

}
.works  {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.list {
    width: 35%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
}

.image-boxes {
    display: flex;
    justify-content: space-evenly;
    
}
.image-box{
    align-content: center;
}
.image1{
    width: 400px;
    height: auto;
}
.image2{
    width: 400px;
    height: auto;
}

p{
    font-size: 20px;
    text-align: center;
}
.image-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}